In [1]:
import pandas as pd
import numpy as np
import numpy
import plotly.plotly as py
import plotly.figure_factory as ff
from plotly.graph_objs import *

In [2]:
bart = pd.read_csv("data/bart_data.csv")

In [3]:
bart

         mon    yr  daytype start term      riders
0          3  2009  WEEKDAY    RM   RM    7.409091
1          3  2009  WEEKDAY    RM   EN  143.681818
2          3  2009  WEEKDAY    RM   EP  137.590909
3          3  2009  WEEKDAY    RM   NB   82.954545
4          3  2009  WEEKDAY    RM   BK  424.545455
5          3  2009  WEEKDAY    RM   AS   90.909091
6          3  2009  WEEKDAY    RM   MA  144.363636
7          3  2009  WEEKDAY    RM   19  142.954545
8          3  2009  WEEKDAY    RM   12  198.090909
9          3  2009  WEEKDAY    RM   LM   34.681818
10         3  2009  WEEKDAY    RM   FV  114.863636
11         3  2009  WEEKDAY    RM   CL   72.318182
12         3  2009  WEEKDAY    RM   SL   39.681818
13         3  2009  WEEKDAY    RM   BF   35.090909
14         3  2009  WEEKDAY    RM   HY   37.909091
15         3  2009  WEEKDAY    RM   SH   20.863636
16         3  2009  WEEKDAY    RM   UC   12.181818
17         3  2009  WEEKDAY    RM   FM   36.000000
18         3  2009  WEEKDAY    RM   CN   26.454545
19         3  2009  WEEKDAY    RM   PH   15.500000
20         3  2009  WEEKDAY    RM   WC   21.590909
21         3  2009  WEEKDAY    RM   LF    8.727273
22         3  2009  WEEKDAY    RM   OR   11.909091
23         3  2009  WEEKDAY    RM   RR   16.909091
24         3  2009  WEEKDAY    RM   OW   26.045455
25         3  2009  WEEKDAY    RM   EM  282.181818
26         3  2009  WEEKDAY    RM   MT  240.500000
27         3  2009  WEEKDAY    RM   PL  224.727273
28         3  2009  WEEKDAY    RM   CC  194.000000
29         3  2009  WEEKDAY    RM   16   96.409091
...      ...   ...      ...   ...  ...         ...
1145745   11  2011   SUNDAY    WD   HY   19.500000
1145746   11  2011   SUNDAY    WD   SH    7.500000
1145747   11  2011   SUNDAY    WD   UC   10.250000
1145748   11  2011   SUNDAY    WD   FM   14.000000
1145749   11  2011   SUNDAY    WD   CN    4.250000
1145750   11  2011   SUNDAY    WD   PH    2.750000
1145751   11  2011   SUNDAY    WD   WC    3.250000
1145752   11  2011   SUNDAY    WD   LF    0.250000
1145753   11  2011   SUNDAY    WD   OR    0.250000
1145754   11  2011   SUNDAY    WD   RR    3.000000
1145755   11  2011   SUNDAY    WD   OW    5.000000
1145756   11  2011   SUNDAY    WD   EM   58.000000
1145757   11  2011   SUNDAY    WD   MT   41.750000
1145758   11  2011   SUNDAY    WD   PL  112.000000
1145759   11  2011   SUNDAY    WD   CC   31.750000
1145760   11  2011   SUNDAY    WD   16   11.000000
1145761   11  2011   SUNDAY    WD   24    4.750000
1145762   11  2011   SUNDAY    WD   GP    4.250000
1145763   11  2011   SUNDAY    WD   BP   11.750000
1145764   11  2011   SUNDAY    WD   DC   11.750000
1145765   11  2011   SUNDAY    WD   CM    1.500000
1145766   11  2011   SUNDAY    WD   CV   52.250000
1145767   11  2011   SUNDAY    WD   ED   18.750000
1145768   11  2011   SUNDAY    WD   NC    0.750000
1145769   11  2011   SUNDAY    WD   WP    4.000000
1145770   11  2011   SUNDAY    WD   SS    1.000000
1145771   11  2011   SUNDAY    WD   SB    1.000000
1145772   11  2011   SUNDAY    WD   SO   16.250000
1145773   11  2011   SUNDAY    WD   MB    5.000000
1145774   11  2011   SUNDAY    WD   WD    3.750000

[1145775 rows x 6 columns]

In [53]:
# bart2017 = bart[bart['yr']==2017][['start','term','riders']]
# bart2017 = bart[bart['yr']==2016][['start','term','riders']]
# bart2017 = bart[bart['yr']==2015][['start','term','riders']]
bart2017 = bart[bart['yr']==2014][['start','term','riders']]

In [54]:
data = bart2017.groupby(['start','term'])['riders'].sum().reset_index().pivot(index='start',columns='term', values='riders')

In [55]:
s = pd.Series(['MB',
'SO',
'SB',
'SS',
'CM',
'DC',
'BP',
'GP',
'24',
'16',
'CC',
'PL',
'MT',
'EM',
'AS',
'BK',
'NB',
'EP',
'EN',
'RM',
'OW',
'12',
'19',
'MA',
'RR',
'OR',
'LF',
'WC',
'PH',
'CN',
'NC',
'WP',
'LM',
'FV',
'CL',
'OA',
'SL',
'BF',
'CV',
'WD',
'ED',
'HY',
'SH',
'UC',
'FM',
'WS',
], dtype = "category")

In [56]:
data = data.loc[s]

In [57]:
data = data[s]

In [58]:
mapping = dict({'12':'Oakland',
'16':'San Francisco',
'19':'Oakland',
'24':'San Francisco',
'AS':'Berkeley',
'BF':'Fruitvale-Dublin/Pleasanton',
'BK':'Berkeley',
'BP':'San Francisco',
'CC':'San Francisco',
'CL':'Fruitvale-Dublin/Pleasanton',
'CM':'Millbrae-Daly City',
'CN':'Walnut Creek-Pittsburg/Bay Point',
'CV':'Fruitvale-Dublin/Pleasanton',
'DC':'Millbrae-Daly City',
'ED':'Fruitvale-Dublin/Pleasanton',
'EM':'San Francisco',
'EN':'Berkeley',
'EP':'Berkeley',
'FM':'Fremont',
'FV':'Fruitvale-Dublin/Pleasanton',
'GP':'San Francisco',
'HY':'Fremont',
'LF':'Oakland',
'LM':'Walnut Creek-Pittsburg/Bay Point',
'MA':'Oakland',
'MB':'Millbrae-Daly City',
'MT':'San Francisco',
'NB':'Berkeley',
'NC':'Walnut Creek-Pittsburg/Bay Point',
'OA':'Fruitvale-Dublin/Pleasanton',
'OR':'Oakland',
'OW':'Oakland',
'PH':'Walnut Creek-Pittsburg/Bay Point',
'PL':'San Francisco',
'RM':'Berkeley',
'RR':'Oakland',
'SB':'Millbrae-Daly City',
'SH':'Fremont',
'SL':'Fruitvale-Dublin/Pleasanton',
'SO':'Millbrae-Daly City',
'SS':'Millbrae-Daly City',
'UC':'Fremont',
'WC':'Walnut Creek-Pittsburg/Bay Point',
'WD':'Fruitvale-Dublin/Pleasanton',
'WP':'Walnut Creek-Pittsburg/Bay Point',
'WS':'Fremont'})

In [59]:
data2 = bart2017[['start','term','riders']]

In [60]:
data2['start'].replace(mapping, inplace = True)

In [61]:
data2['term'].replace(mapping, inplace = True)

In [62]:
data2=data2.groupby(['start','term'])['riders'].sum().reset_index()

In [63]:
data3 = data2.groupby(['start','term'])['riders'].sum().reset_index().pivot(index='start',columns='term', values='riders')

In [64]:
t = pd.Series(['Millbrae-Daly City',
'San Francisco',
'Berkeley',
'Oakland',
'Walnut Creek-Pittsburg/Bay Point',
'Fruitvale-Dublin/Pleasanton',
'Fremont'])

In [65]:
data3 = data3.loc[t]

In [66]:
data3 = data3[t]

In [67]:
data3

term,Millbrae-Daly City,San Francisco,Berkeley,Oakland,Walnut Creek-Pittsburg/Bay Point,Fruitvale-Dublin/Pleasanton,Fremont
start,,,,,,,
Millbrae-Daly City,97378.698170,5.485364e+05,48085.710084,53421.842971,40688.906274,36677.544391,12511.655832
San Francisco,520333.760734,1.427550e+06,446594.149796,627748.830463,385270.258224,462676.009392,194715.435830
Berkeley,44986.656537,4.379778e+05,192249.846964,132339.338325,44790.098503,81081.090360,37505.841951
Oakland,50848.496810,6.299161e+05,135472.207319,95039.412187,89052.319099,100310.722994,46803.526658
Walnut Creek-Pittsburg/Bay Point,38055.006011,3.843073e+05,44338.824736,88118.412302,85782.391423,60745.194819,21825.967660
Fruitvale-Dublin/Pleasanton,34257.856985,4.630343e+05,81397.186159,97071.062840,63144.171607,199846.221744,84760.045704
Fremont,11050.000579,1.976039e+05,36439.915611,46203.307349,22076.234339,83926.977009,54754.433904

In [68]:
data3.to_csv("data/aggmatrix2014.csv")

In [129]:
data3

term,Millbrae-Daly City,San Francisco,Berkeley,Oakland,Walnut Creek-Pittsburg/Bay Point,Fruitvale-Dublin/Pleasanton,Fremont
start,,,,,,,
Millbrae-Daly City,2704.963838,11427.842396,1335.714169,1271.948642,1130.247397,764.115508,417.055194
San Francisco,10840.286682,22305.469594,9304.044787,11209.800544,8026.463713,7229.312647,4867.885896
Berkeley,1249.629348,9124.538093,5340.273527,3150.936627,1244.169403,1689.189382,1250.194732
Oakland,1210.678495,11248.501448,3225.528746,1939.579841,2120.293312,1791.262911,1337.243619
Walnut Creek-Pittsburg/Bay Point,1057.083500,8006.401522,1231.634020,2098.057436,2382.844206,1265.524892,727.532255
Fruitvale-Dublin/Pleasanton,713.705354,7234.910805,1695.774712,1733.411836,1315.503575,3122.597215,2119.001143
Fremont,368.333353,4940.096592,1214.663854,1320.094496,735.874478,2098.174425,2190.177356

In [222]:
data.to_csv("data/matrix2014.csv")

In [210]:
color_list = ['#8dd3c7', # Daly City - SFO (0)
'#ffffb3', # San Francisco (1)
'#bebada', # Berkeley (2)
'#fb8072', # Oakland (3)
'#80b1d3', # Pittsburg Bay Point (4)
'#fdb462', # San Leandro - Dublin / Pleasanton (5)
'#b3de69'] # Fremont (6)

In [190]:
ideo_colors = [color_list[i] for i in [0,
0,
0,
0,
0,
0,
1,
1,
1,
1,
1,
1,
1,
1,
2,
2,
2,
2,
2,
2,
3,
3,
3,
3,
3,
3,
3,
4,
4,
4,
4,
4,
5,
5,
5,
5,
5,
5,
5,
5,
5,
6,
6,
6,
6,
6]]

In [192]:
ideo_colors

['#8dd3c7',
 '#8dd3c7',
 '#8dd3c7',
 '#8dd3c7',
 '#8dd3c7',
 '#8dd3c7',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#ffffb3',
 '#bebada',
 '#bebada',
 '#bebada',
 '#bebada',
 '#bebada',
 '#bebada',
 '#fb8072',
 '#fb8072',
 '#fb8072',
 '#fb8072',
 '#fb8072',
 '#fb8072',
 '#fb8072',
 '#80b1d3',
 '#80b1d3',
 '#80b1d3',
 '#80b1d3',
 '#80b1d3',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#fdb462',
 '#b3de69',
 '#b3de69',
 '#b3de69',
 '#b3de69',
 '#b3de69']